<h1>Список контактов</h1>

<table class="contacts-link">
  <tr>
    <th>Контакт</th>
    <th>Телефон</th>
    <th class="show"></th>
    <th class="edit"></th>
    <th class="delete"></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.phone %></td>
    <td><%= link_to 'Посмотреть', contact %></td>
    <td><%= link_to 'Изменить', edit_contact_path(contact) %></td>
    <td><%= link_to 'Удалить', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
